.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.editor {
  width: 640px;
  height: 640px;
  box-shadow: 0 2px 8px rgb(14 19 24 / 7%);
  background-color: #ffffff;
  position: relative;
}

.actions {
  height: 36px;
  width: 640px;
  display: flex;
  justify-content: flex-end;
}

.layer {
  position: absolute;

  img {
    width: 100%;
    height: 100%;
  }
}
